each reply in replies

    article.reply.anime(id='#{reply._id}', data-vote_up='#{reply.vote_up}', data-vote_down='#{reply.vote_down}')
        div.reply_inner
            div.article_header
                a.float_left(href='/user/#{reply.user.name}')
                    h3 #{reply.user.name}

                span.date.float_right #{prettyDate(reply.date)}
            div.article_content
                p #{reply.description}
                p #{reply.content}

            div.article_footer
        
    
        div.module_rate(id='rate-#{reply._id}')
            div.up
                span.btn +
                span.count #{reply.vote_up} 
            hr
            div.down
                span.btn -
                span.count #{reply.vote_down} 